{% extends 'base.html.twig' %}

{% block title %}Liste des Priorités{% endblock %}

{% block body %}
    <section class="container my-5">
        <div class="d-flex justify-content-between align-items-center mb-4">
            <h3>Il y a {{ priorities | length }} priorités actuellement</h3>
            <a href="{{ path('priority_create') }}" class="btn btn-primary">Créer une nouvelle priorité</a>
        </div>

        <div class="row">
            {% for priority in priorities %}
                <div class="col-md-6 col-lg-4 mb-4">
                    <div class="card shadow-sm h-100">
                        <div class="card-body">
                            <h5 class="card-title">{{ priority.name }}</h5>
                            <small>{{ priority.level }}</small>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </section>
{% endblock %}
